.nav-background-color{
  background-color: white;
  .breadcrumbs{
    padding: 0 20px;
    .current{
      color: red;
    }
    .breadcrumbs-list{
      font-size: 15px;
      color: $black;
      font-weight: 600;
    }
  }
}