.footer{
  height: 100px;
  width: 100vw;
  background-color: $black;
  box-sizing: border-box;
  .footer-list{
    display: flex;
    justify-content: center;
    padding: 20px;
    .text{
      color: white;
      padding-right: 30px;
    }
  }
  .footer-last{
    color: white;
    text-align: center;
  }
}