.header{
  height: 100px;
  width: 100vw;
  background-color: #111111;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;

  .header-list{
    display: flex;
    line-height: 100px;
    padding: 0 20px 0 20px;
    
    .title{
      color: white;
      font-size: 50px;
      padding-right: 30px;
      text-decoration: none;
    }
    .icon {
      color: white;
      font-size: 50px;
      padding-top: 30px;
      padding-left: 30px;
    }
  }
}