.post-page{
  background-color: $black2;

  .main{
    overflow: scroll;
    box-sizing: border-box;
    // .breadcrumbs{
    //   padding:20px 20px;
    //   font-size: 20px;
    //   color: white;
    //   text-decoration: none;
    // }
    .main-title{
      font-size: 25px;
      font-weight: 700;
      color: white;
      padding-left: 30px;
      margin: 20px 0;
    }

    .main-top{
      display: flex;
      .main-left{
        background-color: $black3;
        height: 1000px;
        width: 50vw;
        margin: 0 20px;
        overflow: scroll;
        box-sizing: border-box;   
        margin-bottom: 20px;
        .form-title{
          font-size: 15px;
          font-weight: 700;
          color: white;
          padding: 10px;
        }
        .form{
          background-color: $black4;
          padding: 10px;
          min-height: 200px;
          display: block;
          .form-text{
            display: block;
            // margin: 0 auto;
            width: 500px;
            margin-bottom: 5px;
            border-radius: 5px;
          }
          .form-textarea{
            display: block;
            // margin: 0 auto;
            width: 500px;
            margin-bottom: 5px;
            border-radius: 5px;
          }
          .image-text{
            font-size: 15px;
            font-weight: 700;
            color: white;
          }
          .image_label{
            display: block;
            cursor: pointer;
            // font-size: 50px;
            // .form-filefield-image{
            //   display: none;
            // }
          }
          .video-text{
            font-size: 15px;
            font-weight: 700;
            color: white;
          }
          .video_label{
            display: block;
            cursor: pointer;
            // font-size: 50px;
            // .form-filefield-video{
            //   display: none;
            // }
          }
          .preview-image{
            padding: 7px;
          }
          .preview-video{
            padding: 7px;
          }
          .form-submit{
            display: block;
            margin: 0 auto;
            height: 30px;
            width: 100px;
            color: white;
            background-color: $green;
            border-radius: 10px;
          }
        }

          .good-ranking{
            padding: 10px;
            .ranking{
              color: white;
              font-size: 30px;
              font-weight: 700;
              padding: 10px;
              text-align: center;
            }
            .good-content{
              .post-box{
                .rank{
                  color: white;
                  font-size: 20px;
                  font-weight: 700;
                  padding-left: 10px;
                }
                .count{
                  color: white;
                  font-size: 15px;
                  .icon-red{
                    color: red;
                  }
                }
                .post-top{
                  display: flex;
                  height: 30px;
                  line-height: 30px;
                  .post-user{
                    color: white;
                    font-size: 15px;
                  }
                  .post-title{
                    color: $yellow;
                    font-size: 15px;
                    padding-left: 10px;
                  }
                  .post-date{
                    color: white;
                    font-size: 15px;
                    padding-left: 10px;
                  }
                }
                .post-bottom{
                  padding-top: 5px;
                  padding-left: 5px;
                  .post-text{
                    color: white;
                    font-size: 20px;
                    width: 500px;
                    padding: 5px;
                    background: $black4;
                    border: 2px solid $gray;
                    border-radius: 5px;
                    word-wrap: break-word;
                    margin-bottom: 5px;
                  }
                  .post-flex{
                    display: flex;
                    padding: 10px;
                    .post-image{
                      padding: 30px 10px 0 30px;
                      height: 200px;
                      width: 250px; 
                    }
                    .post-video{
                      height: 200px;
                      width: 250px; 
                    }
                  }
                }
              }
            }
          }
      }

      .main-right{
        background-color: $black3;
        height: 1000px;
        width: 50vw;
        margin: 0 20px;
        overflow: scroll;
        box-sizing: border-box;
        margin-bottom: 20px;
        .posts-content{
          .post-box{
            .post-top{
              display: flex;
              padding-top: 5px;
              padding-left: 5px;
              height: 70px;
              line-height: 70px;
              .post-user{
                color: white;
                font-size: 15px;
              }
              .post-title{
                color: $yellow;
                font-size: 15px;
                padding-left: 10px;
              }
              .post-date{
                color: white;
                font-size: 15px;
                padding-left: 10px;
              }
              #love-post{
                display: flex;
                .good-button{
                  .icon {
                    color: white;
                    font-size: 50px;
                    padding-left: 20px;
                  }
                  .icon-red {
                    color: red;
                    font-size: 50px;
                    padding-left: 20px;
                  }
                }
                .good-count{
                  color: $yellow;
                  font-size: 15px;
                  padding-left: 20px;
                  display: inline;
                }
              }
            }
  
            .post-bottom{
              padding-top: 5px;
              padding-left: 5px;
              .post-text{
                color: white;
                font-size: 20px;
                width: 500px;
                padding: 5px;
                background: $black4;
                border: 2px solid $gray;
                border-radius: 5px;
                word-wrap: break-word;
                margin-bottom: 5px;
              }
              .post-flex{
                display: flex;
                padding: 10px;
                .post-image{
                  padding: 30px 10px 0 30px;
                  height: 200px;
                  width: 250px; 
                }
                .post-video{
                  height: 200px;
                  width: 250px; 
                }
              }
            }
          }
        }
      }
    }
  }
}