.show-page{
  background-color: $black2;
  .main{
    overflow: scroll;
    box-sizing: border-box;
    padding: 20px;
    // .breadcrumbs{
    //   padding:20px 20px;
    //   font-size: 20px;
    //   color: white;
    //   text-decoration: none;
    // }
    .main-title{
      font-size: 20px;
      font-weight: 700;
      color: white;
      padding-left: 30px;
      padding-bottom: 20px;  
    }

    .main-top{
      display: flex;
      .main-video{
        height: 500px;
        width: 700px;
        margin: 0 20px;
        margin-bottom: 20px;
        .video-view{
          height: 500px;
          width: 700px;
        }
      }

      .main-comments{
        height: 600px;
        width: 500px;
        margin: 0 20px;
        background-color: $black4;
        margin-bottom: 20px;
        form {
          display: flex;
          .form-textarea{
            height: 30px;
            width: 85%;
            border-radius: 10px;
          }
          .form-submit{
            height: 30px;
            width: 15%;
            color: white;
            background-color: $green;
            border-radius: 10px;
          }
        }
        .comment-area{
          height: calc(100% - 30px);
          width: 100%;
          overflow: scroll;
          .comments{
            padding-left: 20px;
            .comment{
              display: flex;
              margin: 2px 0;
              &__name{
                padding-right: 10px;
                color: white;
                display: inline;
              }
              &__text{
                color: $yellow;
                display: inline;
              }
            }
          } 
        }
      }
    }
  }
}